.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
clang-format.xcf
.github/**
.eslintrc.json
.eslintignore
.prettierrc
.prettierignore
webpack.config.js
**/jest.config.*
**/*.test.*
**/*.spec.*
**/__tests__/**
**/__mocks__/**
**/test/**
**/.DS_Store
**/*.vsix
contributing.md
CODE_OF_CONDUCT.md
SECURITY.md
**/*.gif
**/*.jpg
**/*.ico
yarn.lock
package-lock.json
npm-debug.log
.clang-format
**/*.js.map
.yarnrc.yml
.devcontainer/**
.yarn/**
.claude/**
